<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Analysis</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.source.url }}"><!-- {{ document.docfile.name }} -->
            ----TAG:
            {{ document.tag}}
                {{ document.source}}
            </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

      
    </body>
</html> 