<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.source.url }}"><!-- {{ document.docfile.name }} -->
 <!--            ----TAG: -->
            {{ document.tag}}
                <!-- {{ document.source}} -->
            </a>
            &nbsp;
             <a href="{{ document.id }}" >analyse<a>
            &nbsp;
             <a href="a/{{ document.id }}" >classify<a>
             </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p>
                {{ form.tag.label }}
                {{ form.tag}}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
        <img src="2/"/>
    </body>
</html> 